.result{
    width: 80%;
    margin: 0 auto;
}
.result div , .row div{
    position: relative;
    padding: 5px;
    margin: 5px auto;
}
.result div span:nth-child(1){
    width: 30%;
    padding: 5px;
    float: left;
    /* text-align: left; */
}
.result div span:nth-child(2){
    width: 70%;
    /* background-color: teal; */
    padding: 5px;
    text-align:right;
}

.pronunciation{
    /* background-color: teal; */
    /* width: 80px; */
}
.pronunciation span:nth-child(1){
    color: green;
    font-weight: bold;
    width: 30%;
}
.pronunciation span:nth-child(2){
    color: green; 
    font-family: italic;
    font-size: larger;
}



.type>span:nth-child(odd){
    color: red;
    font-weight: bold;
    background-color: blueviolet;
}
.type>span:nth-child(even){
    color: red;
    font-weight: bold;
    /* background-color: blueviolet; */
}
.definition>span:nth-child(1){
    /* color: green;
    font-weight: bold; */
}
.definition>span:nth-child(2){
    text-align: justify;
}
.emoji>span:nth-child(1){
    font-weight: bold;
    /* margin-bottom: 600px; */
}
.emoji>span:nth-child(2) a{
    font-size: 50px; 
    /* background-color: red;  */
    margin-bottom: 90px;
    padding-top: 0;
    text-decoration: none;
    box-shadow: 3px 5px 5px black;
}
.example>span:nth-child(1){
    /* color: blue; */
    /* text-align: justify; */
}
.example>span:nth-child(2){

}


img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 5px 5px 5px black;
}
/* a{
    font-weight: bold;
    font-size: 20px;
} */