.pronunciation{
    display: flex;
    align-content:flex-start;
}
.pronunciation_row{
    width: 200px;
    background-color: #d85757;
    padding: 10px;
    border-radius: 5px;
}
.pronunciation_result{
    width: 80%;
    padding: 10px;
    color: green;
    font-weight: bold;
}
@media (max-width:500px){
    .pronunciation {
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
    }
    .pronunciation  span:nth-child(1){
        width: 200px;
        margin: 0 auto;
    }
    .pronunciation  span:nth-child(2){
        margin: 0 auto ;
        text-align: center;
        /* background-color: turquoise; */
    }
}